@import 'kenga/layout.css';

.p-error-popup {
    position: absolute;
    display: inline-block;
}

.p-error-popup::after {
    content: ' ';
    display: inline-block;
    position: absolute;
    left: 20%;
}
